h1 {
    color: brown;
}

.first-btn {
    background-image: url('https://images.unsplash.com/photo-1552594364-1489ef942d3c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
	background-size: cover;
	color: white;
	width: 70%;
	height: 200px;
	font-size: large;
}

.second-btn {
    background-color: #011638;
	color: white;
}